    /* Reset body and html margins/padding */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    /* Style for sidebar navigation */
    .sidebar {
        height: 100vh;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #00CED1;
        padding-top: 20px;
    }

    /* Style for main content */
    .content {
        margin-left: 250px;
        /* Same as the width of the sidebar */
        padding: 0;
        min-height: 100vh;
        width: calc(100% - 250px);
    }