<div class="toddler-page">
  <div class="welcome-box">
    <h1 class="big-title">📚 Welcome to Your Little Library! 📚</h1>
  </div>
  
  <div class="fun-container">
    <div class="message-box">
      <p class="friendly-text">This is a special place where you can keep track of all your books!</p>
      <p class="friendly-text">You can see which books are borrowed and when they need to come back! 📖✨</p>
      <p class="friendly-text">Please remember kids to treat the books with care and parents to return them on time!</p>
    </div>
    
    <div class="decorative-elements">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
      <div class="star star-1">⭐</div>
      <div class="star star-2">⭐</div>
    </div>
  </div>
</div>